# HCUP + Python

This is a tutorial on working with Healthcare Cost and Utilization Project (HCUP) datasets using Python and other open-source alternatives to SAS and SPSS, which are the two primary data tools supported by HCUP.


The United States Agency for Healthcare Research and Quality has a variety of large, de-identified hospital patient datasets available via its Healthcare Cost and Utilization Project (aka HCUP). They contain broad information on the diagnoses, duration, and type of treatment per patient for each visit, and slightly more detailed information on the type and volume of charges. Because of this, and because HCUP also makes available a unique identifier that can be used to “follow” a patient within a given state, many physicians, epidemiologists, economists, and other researchers use them as a source for retrospective analysis of outcomes and cost-effectiveness.

That said, the data sets can be large enough to cause some headaches. A single year’s worth of the “core” emergency department visit data for the state of California is about 10 million rows in 152 columns, and arrives from HCUP in a 5.8GB flat (non-delimited) file. What’s more, the number and width of columns supplied varies by the state supplying the data, and even varies by year within a given state.

To aid in parsing the datasets, HCUP provides loading program definitions in SAS and SPSS formats. Unfortunately, not everyone has SAS or SPSS available, and even some who do may have needs best met by other environments or prefer to use open source alternatives. Whatever your particular reasons, if you are interested in working with HCUP data without SAS or SPSS, you’ll need some other way to parse, manipulate, and integrate them.

In my case, I am using the Python programing language (especially the excellent pandas library) to parse HCUP data sets and do preliminary cleanup, then a PostgreSQL database for integration and long-term storage. Much of the Python code I am using is rolled into a package called PyHCUP, which is available on PyPI or simply through pip (pip install PyHCUP).


Reference
- http://bielism.blogspot.com/2013/12/hcup-and-python-pt-i-background.html
- http://bielism.blogspot.com/2013/12/hcup-and-python-pt-4-reading-in-data.html
- http://bielism.blogspot.com/2013/12/hcup-and-python-pt-5-nulls-and-pre.html
- https://pypi.org/project/PyHCUP/

```bash
conda create -n iz_pyhcup --copy -y -q python=2.7 ipykernel pandas numpy
source activate iz_pyhcup
echo "y" |pip install PyHCUP
echo "y" |pip install sqlalchemy
source deactivate

```


## 1. Locate Your HCUP Data (and decompress it, if necessary)

HCUP Data typically arrive on a DVD, and may or may not be compressed in a ZIP archive. Pick a directory on your computer and copy into it your data file. If the data are in a ZIP archive, extract them at this time. You should end up with a file somewhere around five to fifteen times larger (in MB) than the ZIP archive.

The decompressed file should end in a .asc file extension, though the file extension may be hidden from view depending on your operating system settings. Its name should correspond to the data it contains. For example, you are working with New York's 2008 State Inpatient Database CORE data, you should end up with a file called something like NY_SID_2008_CORE.asc. Make a note of its location as we'll need to know that later.

## 2. Locate a SAS Load Program Your HCUP Data
Next, you'll need the appropriate SAS Load Program for your particular HCUP data. Continuing with the above example, we need to find the New York SID 2008 CORE data SAS loading program. HCUP provides SAS loading programs in a few different places on its website, depending on whether you which data you are using. Use the links below to locate the appropriate SAS Load Program for your data. If the links don't work, HCUP has probably changed its website; Google should still be able to help you find them.

NIS: http://www.hcup-us.ahrq.gov/db/nation/nis/nissasloadprog.jsp
KID: http://www.hcup-us.ahrq.gov/db/nation/kid/kidsasloadprog.jsp
NEDS: http://www.hcup-us.ahrq.gov/db/nation/neds/nedssasloadprog.jsp
SID, SEDD, and SASD: http://www.hcup-us.ahrq.gov/sasload/sasload_search.jsp
After you locate and download the appropriate SAS Load Program for your data, make a note of its location as we'll need to know that later.

In [ ]:
!wget https://www.hcup-us.ahrq.gov/db/state/sidc/tools/sasload/NY_SID_2016_CORE.sas
!wget https://www.hcup-us.ahrq.gov/db/state/sidc/tools/sasload/NY_SID_2016_CHGS.sas

!wget https://www.hcup-us.ahrq.gov/db/state/sasdc/tools/sasload/NY_SASD_2016_CORE.sas
!wget https://www.hcup-us.ahrq.gov/db/state/sasdc/tools/sasload/NY_SASD_2016_CHGS.sas

!wget https://www.hcup-us.ahrq.gov/db/state/seddc/tools/sasload/NY_SEDD_2016_CORE.sas
!wget https://www.hcup-us.ahrq.gov/db/state/seddc/tools/sasload/NY_SEDD_2016_CHGS.sas

In [33]:
!mv *.sas ./libs


## 3. Get started

### 3.1 Acquire Metadata

The SAS Load Program files supplied by HCUP are built to tell SAS how to load your data. We will use them instead to tell Python how to load your data.

In [2]:
import pyhcup

In [42]:
#data_path = '/data/workspace/hcup/SIDC_NY_2016/NY_SID_2016_CORE.asc'
data_path = 'CHANGEME'
load_path = './libs/NY_SID_2016_CORE.sas'

In [34]:
#build a pandas DataFrame object from meta data
meta_df = pyhcup.sas.meta_from_sas(load_path)

You can verify that the meta data we have parsed out is reasonable by calling the meta_df DataFrame object we've created. This summary output is for the 2016 NY SID CORE, referenced above.

In [35]:
meta_df

,field,informat,position,format,label,width
0,AGE,N3PF.,1,None,Age in years at admission,3
1,AGEDAY,N3PF.,4,None,Age in days (when age < 1 year),3
2,AGEMONTH,N3PF.,7,None,Age in months (when age < 11 years),3
3,AHOUR,N4PF.,10,Z4.,Admission Hour,4
4,AMONTH,N2PF.,14,None,Admission month,2
5,ANESTH,N3PF.,16,None,Method of anesthesia,3
6,ATYPE,N2PF.,19,None,Admission type,2
7,AWEEKEND,N2PF.,21,None,Admission day is a weekend,2
8,BILLTYPE,$CHAR4.,23,None,"Type of bill, UB-04 coding",4
9,BLOOD,N6PF.,27,None,Pints of blood furnished to the patient,6
10,BWT,N4PF.,33,None,Birth weight in grams,4
11,DaysToEvent,N6PF.,37,None,Days from 'start date' to admission,6
12,DHOUR,N4PF.,43,Z4.,Discharge Hour,4
13,DIED,N2PF.,47,None,Died during hospitalization,2
14,DISP_X,$CHAR2.,49,None,Disposition of patient (as received from source),2
15,DISPUB04,N2PF.,51,None,Disposition of patient (UB-04 standard coding),2
16,DISPUNIFORM,N2PF.,53,None,Disposition of patient (uniform),2
17,DMONTH,N2PF.,55,None,Discharge month,2
18,DQTR,N2PF.,57,None,Discharge quarter,2
19,DRG,N3PF.,59,None,DRG in effect on discharge date,3
20,DRG_NoPOA,N3PF.,62,None,"DRG in use on discharge date, calculated witho...",3
21,DRGVER,N2PF.,65,None,DRG grouper version used on discharge date,2
22,DSHOSPID,$CHAR17.,67,None,Data source hospital identifier,17
23,DXPOA1,$CHAR1.,84,None,"Diagnosis 1, present on admission indicator",1
24,DXPOA2,$CHAR1.,85,None,"Diagnosis 2, present on admission indicator",1
25,DXPOA3,$CHAR1.,86,None,"Diagnosis 3, present on admission indicator",1
26,DXPOA4,$CHAR1.,87,None,"Diagnosis 4, present on admission indicator",1
27,DXPOA5,$CHAR1.,88,None,"Diagnosis 5, present on admission indicator",1
28,DXPOA6,$CHAR1.,89,None,"Diagnosis 6, present on admission indicator",1
29,DXPOA7,$CHAR1.,90,None,"Diagnosis 7, present on admission indicator",1
...,...,...,...,...,...,...
178,BMONTH,N2PF.,748,None,Birth month,2
179,BYEAR,N4PF.,750,None,Birth year,4
180,PRMONTH1,N2PF.,754,None,Month of procedure 1,2
181,PRMONTH2,N2PF.,756,None,Month of procedure 2,2
182,PRMONTH3,N2PF.,758,None,Month of procedure 3,2
183,PRMONTH4,N2PF.,760,None,Month of procedure 4,2
184,PRMONTH5,N2PF.,762,None,Month of procedure 5,2
185,PRMONTH6,N2PF.,764,None,Month of procedure 6,2
186,PRMONTH7,N2PF.,766,None,Month of procedure 7,2
187,PRMONTH8,N2PF.,768,None,Month of procedure 8,2
188,PRMONTH9,N2PF.,770,None,Month of procedure 9,2
189,PRMONTH10,N2PF.,772,None,Month of procedure 10,2
190,PRMONTH11,N2PF.,774,None,Month of procedure 11,2
191,PRMONTH12,N2PF.,776,None,Month of procedure 12,2
192,PRMONTH13,N2PF.,778,None,Month of procedure 13,2
193,PRMONTH14,N2PF.,780,None,Month of procedure 14,2
194,PRYEAR1,N4PF.,782,None,Year of procedure 1,4
195,PRYEAR2,N4PF.,786,None,Year of procedure 2,4
196,PRYEAR3,N4PF.,790,None,Year of procedure 3,4
197,PRYEAR4,N4PF.,794,None,Year of procedure 4,4
198,PRYEAR5,N4PF.,798,None,Year of procedure 5,4
199,PRYEAR6,N4PF.,802,None,Year of procedure 6,4
200,PRYEAR7,N4PF.,806,None,Year of procedure 7,4
201,PRYEAR8,N4PF.,810,None,Year of procedure 8,4
202,PRYEAR9,N4PF.,814,None,Year of procedure 9,4
203,PRYEAR10,N4PF.,818,None,Year of procedure 10,4
204,PRYEAR11,N4PF.,822,None,Year of procedure 11,4
205,PRYEAR12,N4PF.,826,None,Year of procedure 12,4
206,PRYEAR13,N4PF.,830,None,Year of procedure 13,4
207,PRYEAR14,N4PF.,834,None,Year of procedure 14,4

The number of entries reflects the number of columns specified in the SAS Load Program. There should generally be either above more than one hundred or fewer than ten columns, depending on the type of HCUP data. For your own interest, you can see the first x rows in a pandas DataFrame by using its .head() method. If there are too many columns, pandas will abridge this from a table-style output to a summary-style output as seen above.

In [36]:
meta_df.head()

,field,informat,position,format,label,width
0,AGE,N3PF.,1,None,Age in years at admission,3
1,AGEDAY,N3PF.,4,None,Age in days (when age < 1 year),3
2,AGEMONTH,N3PF.,7,None,Age in months (when age < 11 years),3
3,AHOUR,N4PF.,10,Z4.,Admission Hour,4
4,AMONTH,N2PF.,14,None,Admission month,2

### 3.2 Use the Metadata to Parse the Data

Now that we have the metadata, we can parse the actual data using the pyhcup.sas.df_from_sas function, with our meta_df as the second our argument. However, given the size of the data sets being read in, you may wish to consider reading in only a subset of rows. Do this by passing an nrows argument as well.

In [43]:
#grab the first 10,000 rows in a DataFrame
df = pyhcup.sas.df_from_sas(data_path, meta_df, nrows=10000)
df

WARNING: pyhcup.sas.df_from_sas() is deprecated and is scheduled for removal in pyhcup 0.1.6; use pyhcup.parser.read()

,AGE,AGEDAY,AGEMONTH,AHOUR,AMONTH,ANESTH,ATYPE,AWEEKEND,BILLTYPE,BLOOD,...,PRYEAR5,PRYEAR6,PRYEAR7,PRYEAR8,PRYEAR9,PRYEAR10,PRYEAR11,PRYEAR12,PRYEAR13,PRYEAR14
0,NOT,ICE,: U,se o,f,HCU,P,da,ta c,onstit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,con,dit,ion,s of,t,he,HC,UP,Dat,a Use,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46,-99,-99,900,-9,20,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,65,-99,-99,1200,-9,20,5,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,45,-99,-99,900,-9,20,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
5,48,-99,-99,800,-9,20,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
6,46,-99,-99,1500,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
7,58,-99,-99,500,-9,20,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8,49,-99,-99,1100,-9,40,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9,48,-99,-99,1300,-9,20,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
10,53,-99,-99,900,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11,56,-99,-99,0,-9,0,1,1,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
12,49,-99,-99,500,-9,0,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
13,41,-99,-99,800,-9,0,1,1,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
14,43,-99,-99,1100,-9,0,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
15,22,-99,-99,1000,-9,40,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
16,56,-99,-99,1700,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
17,52,-99,-99,1200,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
18,64,-99,-99,1500,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
19,50,-99,-99,700,-9,40,1,1,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
20,53,-99,-99,1800,-9,40,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
21,58,-99,-99,1200,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
22,40,-99,-99,1400,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
23,46,-99,-99,1800,-9,10,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
24,56,-99,-99,600,-9,0,1,1,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
25,34,-99,-99,1900,-9,40,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
26,65,-99,-99,1300,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
27,26,-99,-99,1400,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
28,69,-99,-99,1400,-9,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
29,58,-99,-99,2000,-9,10,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,0,62,2,1600,3,20,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9971,43,-99,-99,1200,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9972,77,-99,-99,1700,3,40,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9973,0,37,1,1600,3,10,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9974,5,-99,62,1100,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9975,46,-99,-99,2300,3,0,1,1,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9976,70,-99,-99,1500,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9977,41,-99,-99,1900,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9978,39,-99,-99,1200,3,20,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9979,63,-99,-99,1500,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9980,44,-99,-99,1700,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9981,1,-99,22,1800,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9982,5,-99,61,1600,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9983,5,-99,64,1800,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9984,46,-99,-99,2100,3,0,5,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9985,24,-99,-99,2000,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9986,0,73,2,1700,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9987,16,-99,-99,2000,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9988,60,-99,-99,2100,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9989,28,-99,-99,2100,3,20,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9990,25,-99,-99,300,3,0,2,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9991,79,-99,-99,900,3,20,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9992,24,-99,-99,700,3,0,2,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9993,60,-99,-99,200,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9994,38,-99,-99,1500,3,40,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9995,15,-99,-99,600,3,20,3,0,0111,0,...,2016.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9996,45,-99,-99,500,3,20,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9997,20,-99,-99,700,3,0,1,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9998,69,-99,-99,900,3,30,3,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9999,0,0,0,1100,3,0,4,0,0111,0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

### 3.3 Nulls and Pre-Analysis

__Replacing HCUP Sentinel Values__

Files from HCUP have several different sentinel values used to mark missing, invalid, or otherwise unavailable data. For a full breakdown, see HCUP's documentation on missing values in http://www.hcup-us.ahrq.gov/db/coding.pdf. In most of my work, the details of this are not vital I just need to mark them as null in the data set.


PyHCUP has a built-in function in its parser module to sweep through an imported HCUP data set and mark all the sentinels as missing values. To use it, pass your imported data set to the `parser.replace_sentinels()` function. This may take some time, depending on the size of the data set you've imported and the speed of your computer.

In [46]:
nulls_replaced = pyhcup.parser.replace_sentinels(df)

Check the AGE column (or whichever column you used .describe() with previously) in the replaced and non-replaced data to see the effects.

In [59]:
df['AGE'].describe() #before

count     10000
unique      105
top           0
freq        891
Name: AGE, dtype: object

In [60]:
nulls_replaced['AGE'].describe() #and after

count     10000
unique      105
top           0
freq        891
Name: AGE, dtype: object

__Characterizing Numeric Data__

Although we are only looked at one column above for brevity, the parser.df_replace_sentinels() function has been applied to every column in the data set. You check describe additional columns by substituting in the column name for AGE in the code we've been using so far. Here is another, looking at the total charges per inpatient stay.

In [49]:
nulls_replaced['TOTCHG'].describe()

count    9.997000e+03
mean     4.971867e+04
std      7.471883e+04
min      1.350000e+02
25%      1.555000e+04
50%      2.842700e+04
75%      5.306600e+04
max      1.305811e+06
Name: TOTCHG, dtype: float64

So out of these 10,000 stays, somebody got out for cheap at less than `$200` and somebody had a rough time with a bill greater than `$1.3 million`.

It is possible to describe multiple columns side by side by first preparing a list of columns, then referring to that instead of passing a single column name. In Python, you can make a list by putting all the desired list items in a shared set of square brackets, with commas between the items. For example, we could get ages, total charges, and length of stay all at once with something like this.

In [50]:
col_list = ['AGE', 'TOTCHG', 'LOS']

In [51]:
nulls_replaced[col_list].describe()

             TOTCHG          LOS
count  9.997000e+03  9998.000000
mean   4.971867e+04     5.822364
std    7.471883e+04     8.256446
min    1.350000e+02     0.000000
25%    1.555000e+04     2.000000
50%    2.842700e+04     3.000000
75%    5.306600e+04     7.000000
max    1.305811e+06   162.000000

__Characterizing Non-Numeric Data__

Averages, extreme values, and percentiles are less helpful for describing things like discharge destinations and diagnoses. For non-numeric data, pandas has a built-in .value_counts() method you can use on columns similar to .describe(). As an example, HCUP SID data typically have available a FEMALE column, where a value of 1 indicates the patient was female and 0 indicates the patient was male.

In [52]:
nulls_replaced['FEMALE'].value_counts()

0.0    5020
1.0    4978
Name: FEMALE, dtype: int64

Unlike .describe(), you cannot directly use .value_counts() simultaneously with multiple columns. However, you can use Python to put together a loop that generates value counts for columns in a list. You can also "nest" this kind of count by grouping, such as getting value counts of primary diagnosis by race or discharge destination by homeless status.

__Knowing What Columns Are Available__

HCUP provide documentation with detailed descriptions on which columns are available for which states in which year, as well as what the contents of each column mean. But for day-to-day work, we can get a list of all the columns in a DataFrame by invoking DataFrame.columns on any of our data sets. The results should be the same right now whether you use it on df or nulls_replaced, since one is derived from the other.

In [54]:
list(nulls_replaced.columns)

['AGE',
 'AGEDAY',
 'AGEMONTH',
 'AHOUR',
 'AMONTH',
 'ANESTH',
 'ATYPE',
 'AWEEKEND',
 'BILLTYPE',
 'BLOOD',
 'BWT',
 'DaysToEvent',
 'DHOUR',
 'DIED',
 'DISP_X',
 'DISPUB04',
 'DISPUNIFORM',
 'DMONTH',
 'DQTR',
 'DRG',
 'DRG_NoPOA',
 'DRGVER',
 'DSHOSPID',
 'DXPOA1',
 'DXPOA2',
 'DXPOA3',
 'DXPOA4',
 'DXPOA5',
 'DXPOA6',
 'DXPOA7',
 'DXPOA8',
 'DXPOA9',
 'DXPOA10',
 'DXPOA11',
 'DXPOA12',
 'DXPOA13',
 'DXPOA14',
 'DXPOA15',
 'DXPOA16',
 'DXPOA17',
 'DXPOA18',
 'DXPOA19',
 'DXPOA20',
 'DXPOA21',
 'DXPOA22',
 'DXPOA23',
 'DXPOA24',
 'DXPOA25',
 'DXVER',
 'E_POA1',
 'E_POA2',
 'E_POA3',
 'E_POA4',
 'E_POA5',
 'E_POA6',
 'E_POA7',
 'E_POA8',
 'E_POA9',
 'FEMALE',
 'HCUP_ED',
 'HCUP_OS',
 'HISPANIC',
 'HISPANIC_X',
 'Homeless',
 'HOSPST',
 'I10_DX_Admitting',
 'I10_DX1',
 'I10_DX2',
 'I10_DX3',
 'I10_DX4',
 'I10_DX5',
 'I10_DX6',
 'I10_DX7',
 'I10_DX8',
 'I10_DX9',
 'I10_DX10',
 'I10_DX11',
 'I10_DX12',
 'I10_DX13',
 'I10_DX14',
 'I10_DX15',
 'I10_DX16',
 'I10_DX17',
 'I10_DX18',
 'I10_DX19',
 'I10_DX20',
 'I10_DX21',
 'I10_DX22',
 'I10_DX23',
 'I10_DX24',
 'I10_DX25',
 'I10_ECAUSE1',
 'I10_ECAUSE2',
 'I10_ECAUSE3',
 'I10_ECAUSE4',
 'I10_ECAUSE5',
 'I10_ECAUSE6',
 'I10_ECAUSE7',
 'I10_ECAUSE8',
 'I10_ECAUSE9',
 'I10_NDX',
 'I10_NECAUSE',
 'I10_NPR',
 'I10_PR1',
 'I10_PR2',
 'I10_PR3',
 'I10_PR4',
 'I10_PR5',
 'I10_PR6',
 'I10_PR7',
 'I10_PR8',
 'I10_PR9',
 'I10_PR10',
 'I10_PR11',
 'I10_PR12',
 'I10_PR13',
 'I10_PR14',
 'I10_PROCTYPE',
 'KEY',
 'LOS',
 'LOS_X',
 'MDC',
 'MDC_NoPOA',
 'MDNUM1_R',
 'MDNUM2_R',
 'MEDINCSTQ',
 'OS_TIME',
 'PAY1',
 'PAY1_X',
 'PAY2',
 'PAY2_X',
 'PAY3',
 'PAY3_X',
 'PAYER1_X',
 'PAYER2_X',
 'PL_CBSA',
 'PL_NCHS',
 'PL_RUCC',
 'PL_UIC',
 'PL_UR_CAT4',
 'POA_Disch_Edit1',
 'POA_Disch_Edit2',
 'POA_Hosp_Edit1',
 'POA_Hosp_Edit2',
 'POA_Hosp_Edit3',
 'POA_Hosp_Edit3_Value',
 'PointOfOrigin_X',
 'PointOfOriginUB04',
 'PRDAY1',
 'PRDAY2',
 'PRDAY3',
 'PRDAY4',
 'PRDAY5',
 'PRDAY6',
 'PRDAY7',
 'PRDAY8',
 'PRDAY9',
 'PRDAY10',
 'PRDAY11',
 'PRDAY12',
 'PRDAY13',
 'PRDAY14',
 'PRVER',
 'PSTATE',
 'PSTCO',
 'PSTCO2',
 'RACE',
 'RACE_X',
 'TOTCHG',
 'TOTCHG_X',
 'TRAN_IN',
 'TRAN_OUT',
 'VisitLink',
 'YEAR',
 'ZIP',
 'ZIP3',
 'ZIPINC_QRTL',
 'AYEAR',
 'BMONTH',
 'BYEAR',
 'PRMONTH1',
 'PRMONTH2',
 'PRMONTH3',
 'PRMONTH4',
 'PRMONTH5',
 'PRMONTH6',
 'PRMONTH7',
 'PRMONTH8',
 'PRMONTH9',
 'PRMONTH10',
 'PRMONTH11',
 'PRMONTH12',
 'PRMONTH13',
 'PRMONTH14',
 'PRYEAR1',
 'PRYEAR2',
 'PRYEAR3',
 'PRYEAR4',
 'PRYEAR5',
 'PRYEAR6',
 'PRYEAR7',
 'PRYEAR8',
 'PRYEAR9',
 'PRYEAR10',
 'PRYEAR11',
 'PRYEAR12',
 'PRYEAR13',
 'PRYEAR14']